# Friendly url

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z]+)/?([0-9]+)?/?([a-z-]+)?$ index.php?action=$1&id=$2&module_slug=$3
</IfModule>