# Friendly url

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z]+)/?([a-z-]+)?$ index.php?action=$1&module_slug=$2
</IfModule>