/*************** teacher home.css ************/

.container {
    margin-top: 20px;
}

.module_teacher {
    display: flex;
    flex-direction: column;
}

.module_teacher a {
    margin: auto;
    margin-top: 20px;
    width:auto;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    border: 1;
    background-color: rgba(78, 78, 236, 0.815);
    font-weight: bold;
}

.module_teacher a:hover {
    background-color: rgba(28, 28, 228, 0.959);
    padding: 8px;
    transition: all;
}

@media screen and (max-width: 991px) {
    .module_teacher {
        margin-bottom: 10px;
    }
}