/*************** teacher home.css ************/

.container {
    margin-top: 20px;
    margin-bottom: 5px;
}

.module_teacher {
    display: flex;
    flex-direction: column;
}

.module_teacher a {
    margin: auto;
    margin-top: 20px;
    width:auto;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    border: 1;
    background-color: rgba(78, 78, 236, 0.815);
    font-weight: bold;
}

.module_teacher a:hover {
    background-color: rgba(28, 28, 228, 0.959);
    padding: 8px;
    transition: all;
}

.modules {
    border: 1px solid rgb(32, 224, 215);
    border-radius: 15px;
    border-top: 50px solid white;
    border-top-left-radius:6em;
    border-bottom-right-radius:3em;
    height: max-content + 30px;
    width: max-content + 30px;
    background-color: rgb(224, 110, 10);
    padding: 10px;
}

.modules:hover {
    background-color: rgb(32, 224, 215);
    border-top-color: blue;
    transition: 2s;
}

.landing {
    margin-top: 40px;
}

/* Landing nav item */
.teacher_nav_item{
    margin-left: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 991px) {
    .module_teacher {
        margin-bottom: 10px;
    }

    .teacher_nav_item{
        position: absolute!important;
        margin-left: 2px;
        margin-top: 4px;
    }
}