/*display_average.css*/

.section_display_average_student{
    width: max-content;
    margin: auto;
    text-align: justify;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.display_average_student{
    background-color: #d6701c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col_display_average_student{
    color: #fff;
    width: 90%;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col_display_average_student:hover{
    font-size: larger;
    transition: 0.8s;
}

#myTable:hover{
    background-color: #ffffff21;
    transition: 0.6s;
}

table,th,td{
    /*border: 1px solid black;*/
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}

#headerline {
   background-color: rgba(175, 166, 166, 0.911);
}

td{
    border-top: 1px solid black;
}

#firstcolumn{
    background-color: rgba(47, 78, 216, 0.877);
}

#secondcolumn{
    background-color: rgb(172, 202, 219);
    color: rgb(32, 2, 165);
}

table{
    margin: auto;
    margin-top : 20px;
    margin-bottom: 20px;
}

#footerline {
    background-color: rgba(49, 136, 207, 0.911);
}

@media screen and (max-width: 991px) {
    .display_average_student{
        grid-template-columns: 1fr;
        padding-top: 10px;
    }
}