/* student home.css*/


/* ------- container -----*/

.row{
    margin-top: 20px;
}

.hello {
    border: 2px solid rgb(8, 61, 235);
    border-radius: 10px;
    background-color: rgb(8, 61, 235);
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.hello:hover {
    background-color: rgb(80, 26, 206);
    transition: 1s;
}

/*-------- note ---------*/

#part1{
    padding: 20px;
    background-color: rgb(224, 110, 10);
}

#note {
    width: 40%;
    margin: auto;
    color: #fff;
    background-color: rgb(224, 110, 10);
    padding-top: 15px;
    border-radius: 50px;
}

#note:hover{
    font-size: large;
    background-color: rgb(8, 61, 235);
    transition: 0.8s;
}

#note p{
    text-align: center;
    width: 90%;
    margin: auto;
}

#note a{
    display: block;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: auto;
    color: #ffffff;
    height: 70px;
    padding-top: 20px;
    background: rgb(8, 61, 235);
	text-align: center;
	text-decoration-line: none;
}

#note a:hover{
    transition: 0.4s;
    background: rgb(238, 188, 9);
    font-size: larger;
    color: #fff;
}

#button_more {
    margin-left: 100px;
    width: 150px;
    height: 50px;
    background: rgb(8, 61, 235);
    border: none;
    padding: 10px 10px;
    font-weight: bold;
    color: #fff;
}

#button_more:hover{
    transition: 0.3s;
    background: rgb(53, 7, 138);
}

#about_us {
    display: flex;
    flex-direction: row;
}

#about_us p {
    width: 40%;
    margin-left: 10%;
    color: #fff;
}

#part2{
    background-color: rgba(22, 46, 133, 0.781);
    padding: 20px;
}

#part2 h2{
    color: rgb(255, 255, 255);
}

/* Landing */
.landing_form{
    background-color: rgb(224, 110, 10);
    border-radius: 30px;
    padding: 20px;
    color: #fff;
}

.landing_form:hover{
    background-color: rgb(238, 188, 9);
}

/* ---------------- MEDIA SCREEN -----------------*/
@media screen and (max-width: 991px) {

    .hello {
        font-size: 1.1em;
        width: max-content;
    }

    #note {
        width: 80%;
        margin: auto;
    }

    #note a {
        width: auto;
        position: inherit;
        margin: auto;
    }
    
    #paiement {
        width: auto;
        margin: auto;
    }

    #paiement a{
        width: auto;
        position: inherit;
        margin: auto;
    }

    #about_us {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    #about_us p {
        width: 50%;
        padding-bottom: 10px;
        font-size: 1.0em;
        margin: auto;
    }
    
    #button_more {
        margin: auto;
    }

    #part2{
        padding: 10px;
    }
}