/* student home.css*/


/* ------- container -----*/

#container{
    margin-top: 20px;
}

.hello {
    border: 2px solid rgb(123, 190, 123);
    border-radius: 10px;
    background-color: rgb(97, 236, 166);
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 60%;
    margin: auto;
}

.hello:hover {
    background-color: rgb(80, 26, 206);
    transition: 1s;
}

/*-------- note ---------*/

#note{
    padding: 20px;
    width: 40%;
}

#note a{
    display: block;
	border: 2px solid rgb(57, 184, 135);
	border-radius: 14px;
	width: 60%;
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration-line: none;
    position: relative;
    left: 50px;
}

#note a:hover{
    transition: 0.4s;
    background: rgb(57, 184, 135);
    color: #fff;
}

/*------ Paiement --------*/

#paiement{
    padding: 20px;
    width: 50%;
    margin-left: 140px;
}

#paiement a{
    display: block;
	border: 2px solid rgb(95, 143, 161);
	border-radius: 14px;
	width: 40%;
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration-line: none;
    position: relative;
    left: 90px;
}

#paiement a:hover{
    transition: 0.4s;
    background: rgb(95, 143, 161);
    color: #fff;
}

#button_more {
    margin-left: 100px;
    width: 150px;
    height: 50px;
    background: rgb(8, 61, 235);
    border: none;
    padding: 10px 10px;
    font-weight: bold;
    color: #fff;
}

#button_more:hover{
    transition: 0.3s;
    background: rgb(53, 7, 138);
}

#about_us {
    display: flex;
    flex-direction: row;
}

#about_us p {
    width: 40%;
    margin-left: 10%;
    color: #fff;
}

#part2{
    margin-top: 30px;
    background-color: rgba(22, 46, 133, 0.781);
    padding: 20px;
}

#part2 h2{
    color: rgb(255, 255, 255);
}

/* ---------------- MEDIA SCREEN -----------------*/
@media screen and (max-width: 991px) {

    .hello {
        font-size: 1.1em;
        width: max-content;
    }

    #note {
        width: auto;
        margin: auto;
    }

    #note a {
        width: auto;
        position: inherit;
        margin: auto;
    }
    
    #paiement {
        width: auto;
        margin: auto;
    }

    #paiement a{
        width: auto;
        position: inherit;
        margin: auto;
    }

    #about_us {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    #about_us p {
        width: 50%;
        padding-bottom: 10px;
        font-size: 1.0em;
        margin: auto;
    }
    
    #button_more {
        margin: auto;
    }

    #part2{
        margin-top: 10px;
        padding: 10px;
    }
}